@import '../../styles/variables'

.header 
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 30px

.wrapper 
    display: flex
    align-items: center

.change_theme, .logo
    margin-right: 20px
    cursor: pointer

.logo 
    svg 
        width: 65px
        height: 65px

.title
    font-size: 25px
    font-weight: 700
    text-transform: uppercase
    color: $primary-color

.select
    background-color: rgba(71, 147, 255, 0.20)
    width: 194px
    height: 37px
    border: none
    border-radius: 10px
    z-index: 10
    color: #000
    &:focus 
        outline: none